<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>校园问答</title>
    <link href="static/css/theme.css" rel="stylesheet">
    <script src="static/js/lib/json2.js"></script>
</head>
<body>
<div class="page container">
    <div class="navbars">
        <ul class="breadcrumb">
            <li><a href="http://open.lab.mu">Camus</a><span class="divider">/</span></li>
            <li class="active">Search</li>
        </ul>
    </div>
    <div class="content central">
        <div class="header central"></div>
   </div>
</div>
<!--suppress HtmlUnknownTarget -->
{% if app.config['DEBUG'] %}
<script data-main="static/js/app.js" src="static/js/lib/require.js"></script>
{% else %}
<script src="static/js/lib/require.js"></script>
{% endif %}
</body>
</html>
