<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div id="searchBox"></div>
        <div class="result-list"></div>
    </div>
    <div class="col-md-6 result-detail"></div>
</div>

