<div class="searchbox">
    <form class="form-search">
        <input id="keyword" type="text" value="{{keyword}}" class="input-medium search-query span5"/>
        <a id="btn-query" class="btn span1" href="#query/{{keyword}}/infu">查询</a>
    </form>
</div>